<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            /* 背景图垂直、水平均居中 */
            background-position: center center;
            /* 背景图不平铺 */
            background-repeat: no-repeat;
            /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
            background-attachment: fixed; /*此条属性必须设置否则可能无效*/
            /* 让背景图基于容器大小伸缩 */
            background-size: cover;
        }
    </style>
</head>
<body background="/blog/images/404.jpg">
</body>
</html>