<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vicyor.blog.apps.blog.mapper.UserMapper">

    <select id="findBlogUser" resultType="com.vicyor.blog.api.blog.pojo.BlogUser">
        select oauth_user_info.* from oauth_user_info
        where username =#{username}
    </select>
</mapper>
