<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>vicyor个人博客</title>
    <meta name="keywords" content="个人博客,姚克威个人博客,个人博客模板,姚克威"/>
    <meta name="description" content="姚克威个人博客，该网站是为了记录姚克威同学的学习而编写的。"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="${path+'/css/base.css'}" rel="stylesheet">
    <link th:href="${path+'/css/index.css'}" rel="stylesheet">
    <link th:href="${path+'/css/m.css'}" rel="stylesheet">
    <link rel="stylesheet" th:href="${path +'/css/update.css'}">
    <link rel="stylesheet" th:href="${path +'/css/article.css'}">
    <link rel=stylesheet th:href="${path+'/lib/skeleton.css'}">
    <link rel="stylesheet" th:href="${path+'/css/user.css'}">
    <link rel="stylesheet" th:href="${path+'/plugin/layui/css/layui.css'}" media="all"/>
    <link rel="stylesheet" th:href="${path+'/css/comment.css'}"/>
    <script th:src="${path+'/js/jquery-3.3.1.js'}"></script>
    <script th:src="${path+'/js/user.js'}"></script>
    <script th:src="${path+'/plugin/layui/layui.js'}"></script>
</head>
<body>
<header th:replace="html/header.html::header"></header>
<body>
<div id="app">
    <div data-v-357a65ed="" class="container view">
        <div th:replace="html/left::left"></div>
        <div data-v-357a65ed="" class="view-container">
            <div data-v-0d738edb="" data-v-357a65ed="" class="cont view">
                <div data-v-0d738edb="" class="right_cont"><h3 data-v-0d738edb="" class="title">我的博客</h3>
                    <div data-v-0d738edb="" class="user_info">
                        <ul class="comment-list">
                            <li class="comment-line" th:each="comment:${comments}">
                                <div style="display: inline-block" class="left-box">
                                    <a href="javascript:;">
                                        <img th:src="${'http://127.0.0.1/blog/'+session.user.imageUri}"
                                             class="mid-image">
                                    </a>
                                </div>
                                <div class="info-box left-box">
                                    <a href="javascript:;">
                                        <span style="line-height: 50px;height: 50px;font-size: 20px" class="name"
                                              th:if="${comment.getClass().getSimpleName().equals('ReplyComment') }"
                                              th:text="${comment.from}"></span>
                                        <span style="line-height: 50px;height: 50px;font-size: 20px" class="name"
                                              th:if="${comment.getClass().getSimpleName().equals('Comment')}"
                                              th:text="${comment.username}"></span>
                                    </a>
                                    <span style="line-height: 50px;height: 50px;font-size: 20px">:</span>
                                    <span th:text="${comment.content}"
                                          style="line-height: 50px;height: 50px;font-size: 20px"></span>
                                    <br/>
                                    <br/>
                                    <span style="line-height: 50px;height: 50px;font-size: 20px;padding-left: 100px"
                                          th:if="${comment.getClass().getSimpleName().equals('ReplyComment') }"
                                          th:text="${'回复 '+comment.to+' : '+comment.comment.content}"
                                    >
                                    </span>
                                    <br/>
                                </div>
                                <div class="left-box">
                                    <span class="date" style="line-height: 50px;height: 50px;font-size: 20px"
                                      th:if="${comment.getClass().getSimpleName().equals('ReplyComment') }"
                                          th:text="${comment.comment.blog.title}"></span>
                                    <span class="date" style="line-height: 50px;height: 50px;font-size: 20px"
                                          th:if="${comment.getClass().getSimpleName().equals('Comment') }"
                                          th:text="${comment.blog.title}"></span>
                                </div>
                                <div class="right-box">
                                    <span class="date" style="line-height: 50px;height: 50px;font-size: 20px"
                                          th:text="${comment.cdate}"></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</body>
<script>
    $(function () {
        $(".router-link-exact-active").removeClass("router-link-exact-active");
        $(".router-link-active").removeClass("router-link-active");
        var $this = $(".mycomment");
        $this.css({
            background: '#b20b13',
            color: '#fff'
        });
    })
</script>
</html>