<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>vicyor个人博客</title>
    <meta name="keywords" content="个人博客,姚克威个人博客,个人博客模板,姚克威"/>
    <meta name="description" content="姚克威个人博客，该网站是为了记录姚克威同学的学习而编写的。"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=stylesheet th:href="${path+'/lib/skeleton.css'}">
    <link rel="stylesheet" th:href="${path+'/css/user.css'}"  >
    <link th:href="${path+'/css/base.css'}" rel="stylesheet">
    <link th:href="${path+'/css/index.css'}" rel="stylesheet">
    <link th:href="${path+'/css/m.css'}" rel="stylesheet">
    <link rel="stylesheet" th:href="${path+'/plugin/layui/css/layui.css'}" media="all"/>
    <script th:src="${path+'/js/jquery-3.3.1.js'}"></script>
    <script th:src="${path+'/plugin/layui/layui.js'}"></script>
    <script th:src="${path+'/js/user.js'}"></script>
</head>
<header th:replace="html/user-header.html::header"></header>
<script>
    window.onload = function () {
        var oH2 = document.getElementsByTagName("h2")[0];
        var oUl = document.getElementsByTagName("ul")[0];
        oH2.onclick = function () {
            var style = oUl.style;
            style.display = style.display == "block" ? "none" : "block";
            oH2.className = style.display == "block" ? "open" : ""
        }
    };

</script>
<body>
<input type="hidden" id="path" th:value="${path}">
<input type="hidden" id="username" th:value="${session.user.username}"/>
<div id="app">
    <div data-v-357a65ed="" class="container view">
        <div data-v-357a65ed="" class="view-container">
            <div data-v-0d738edb="" data-v-357a65ed="" class="cont view">
                <div data-v-0d738edb="" class="right_cont"><h3 data-v-0d738edb="" class="title">个人资料</h3>
                    <div data-v-0d738edb="" class="user_info">
                        <div data-v-0d738edb="" class="header"><img data-v-0d738edb=""
                                                                    th:src="${'http://www.vicyor.com/blog/'+session.user.imageUri}"
                                                                    alt="" class="head" style="width: 10%">
                            <div class="layui-upload">
                                <button class="layui-btn" id="modify">修改头像</button>
                            </div>

                        </div> <!---->
                        <div data-v-0d738edb="" class="right_c">
                            <div data-v-0d738edb="" class="right_info">
                                <div data-v-0d738edb="" class="id_card"><span data-v-0d738edb="" class="id_name"
                                                                              th:text="${'UserName: '+session.user.username}"></span>
                                    <!----> <!---->  </div>
                            </div>
                            <br/>
                            <br/>
                            <div data-v-0d738edb="" class="warn_tip"><!----> <a data-v-0d738edb=""
                                                                                href="javascript:;"
                                                                                class="csdn_msg"
                                                                                th:text="${session.user.job}"></a>
                                <span
                                        data-v-0d738edb="" class="tip_words">*温馨提示会：这个前端模板是用csdn的,哈哈.</span></div>
                            <div data-v-0d738edb="" class="line"></div>
                            <br/>
                            <div data-v-0d738edb="" class="nick"><span data-v-0d738edb=""
                                                                       th:text="${'昵称：'+session.user.username}"></span>
                                <span
                                        data-v-0d738edb="" class="mod">修改资料</span></div>
                            <ul data-v-0d738edb="" class="self">
                                <br/>
                                <li data-v-0d738edb="" class="comon" th:text="${'实名: '+session.user.name}"></li>
                                <br/>
                                <li data-v-0d738edb="" class="comon" th:text="${'职业: '+session.user.job}"></li>
                                <br/>
                                <li data-v-0d738edb="" class="comon" th:text="${'座右铭: '+session.user.motto}"></li>
                                <br/>
                                <li data-v-0d738edb="" class="intro">
                                    <span data-v-0d738edb=""
                                                                           class="noWid">简介：</span><span
                                        data-v-0d738edb="" class="cont" th:text="${session.user}">一枚爱学习的小萌新</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>