<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="html/head::head"></head>
<body>
<header th:replace="html/header.html::header"></header>
<article>
    <input type="hidden" th:value="${blog.content}" id="blog-content"/>
    <h1 class="t_nav">
        <span>您现在的位置是：首页 > 文章 > [[${blog.title}]]</span>
        <a th:href="${path+'/'}" class="n1">网站首页</a>
        <a href="javascript:;" class="n2" th:text="${blog.title}"></a>
    </h1>
    <script>
        $(function () {
            $.ajax({
                url: '/blog/blogs/count/' + '[[${blog.id}]]' + "?count=" + '[[${blog.count}]]',
                method: 'post'
            })
        })
        $(function () {
            var testEditor;
            var str= $("#blog-content").val();
            testEditor = editormd.markdownToHTML("read-editormd", {
                path: '[[${path}]]/editor.md-master/lib/',
                markdown: str,
                htmlDecode: "style,script,iframe",  // you can filter tags decode
                emoji: true,
                taskList: true,
                tex: true,
                flowChart: true,
                sequenceDiagram: true,
                imageUpload: true,
                imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                // imageUploadURL : "../src/",//注意你后端的上传图片服务地址

                //editorTheme: "pastel-on-dark",//编辑器的主题颜色
                theme: "gray",//顶部的主题
                previewTheme: "dark"//显示的主题
            });
        })
        $(function () {
            $.ajax({
                url:'/blog/blogs/tag?tag='+"[[${blog.tag}]]",
                method: 'get',
                success:function (data) {
                    console.log(data);
                    var blogs=data[1];
                    var $ul=$(".otherlink ul");
                    $.each(blogs,function (index,blog) {
                        var $li=$("<li></li>");
                        var $a=$("<a></a>");
                        $a.prop('href','/blog/blogs/article/'+blog.id);
                        $a.prop('title',blog.title);
                        $a.text(blog.title+"----"+blog.udate);
                        $li.append($a);
                        $ul.append($li);
                    })
                }
            })
        })
    </script>
    <div class="infos">
        <div class="newsview">
            <h3 class="news_title">欢迎各位英雄好汉捧场！</h3>
            <div class="news_author">
                <span class="au01"><a href="mailto:2457569580@qq.com">kindboy</a></span>
                <span class="au02" th:text="${blog.udate}"></span><span class="au03">
                浏览次数 : <b th:text="${blog.count}"></b></span>
            </div>
            <div class="tags">
                <a href="javascript:;">个人博客</a>
                <a href="javascript:;" th:text="${blog.tag}"></a>
                <a th:href="${path+'/blogs/update/'+blog.id}" style="float: right;margin-right: 40px;">编辑</a>
            </div>
            <div class="news_about"><strong>简介</strong>[[${blog.summary}]]</div>
            <div class="news_infos" id="read-editormd" style="padding:10px;width: 760px;height: 1500px;">
                <textarea></textarea>
            </div>
        </div>
        <div class="share"></div>
        <div class="news_pl">
            <h2>文章评论</h2>
            <ul>
                <div class="gbko"></div>
            </ul>
        </div>
        <div class="otherlink">
            <h2>相关文章</h2>
            <ul>
            </ul>
        </div>
    </div>
    <div class="sidebar">
        <div class="cloud" th:replace="html/sidebar.html::cloud"></div>
        <div class="paihang" th:replace="html/sidebar.html::clickrank"></div>
        <div class="weixin" th:replace="html/sidebar.html::weixin"></div>
    </div>
</article>
<footer th:replace="html/foot.html::foot"></footer>
<script th:src="${path+'/js/nav.js'}"></script>
<script>
    $(function () {
        var elm = $('#left_flow2');
        var startPos = $(elm).offset().top;
        $.event.add(window, "scroll", function () {
            var p = $(window).scrollTop();
            $(elm).css('position', ((p) > startPos) ? 'fixed' : '');
            $(elm).css('top', ((p) > startPos) ? '0' : '');
        });
    });
</script>
</body>
</html>
