<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="html/head::head"></head>
<body>
<header th:replace="html/header.html::header"></header>
<article>
    <input type="hidden" th:value="${blog.content}" id="blog-content"/>
    <h1 class="t_nav">
        <span>您现在的位置是：首页 > 文章 > [[${blog.title}]]</span>
        <a th:href="${path+'/'}" class="n1">网站首页</a>
        <a href="javascript:;" class="n2">个人博客</a>
    </h1>
    <script>
        $(function () {
            $.ajax({
                url: '/blog/blogs/count/' + '[[${blog.id}]]' + "?count=" + '[[${blog.count}]]',
                method: 'post'
            })
        })
        $(function () {
            var testEditor;
            var str = $("#blog-content").val();
            testEditor = editormd.markdownToHTML("read-editormd", {
                path: '[[${path}]]/editor.md-master/lib/',
                markdown: str,
                htmlDecode: "style,script,iframe",  // you can filter tags decode
                emoji: true,
                taskList: true,
                tex: true,
                sequenceDiagram: true,
                imageUpload: true,
                imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                // imageUploadURL : "../src/",//注意你后端的上传图片服务地址

                //editorTheme: "pastel-on-dark",//编辑器的主题颜色
                theme: "gray",//顶部的主题
                previewTheme: "dark"//显示的主题
            });
        })
        $(function () {
            $.ajax({
                url: '/blog/blogs/tag?tag=' + "[[${blog.tag}]]",
                method: 'get',
                success: function (data) {
                    var blogs = data[1];
                    var $ul = $(".otherlink ul");
                    $.each(blogs, function (index, blog) {
                        var $li = $("<li></li>");
                        var $a = $("<a></a>");
                        $a.prop('href', '/blog/blogs/article/' + blog.id);
                        $a.prop('title', blog.title);
                        $a.text(blog.title + "----" + blog.udate);
                        $li.append($a);
                        $ul.append($li);
                    })
                }
            })
        })
    </script>
    <div class="infos">
        <div class="newsview">
            <h3 class="news_title">[[${blog.title}]]</h3>
            <div class="news_author">
                <span class="au01"><a href="mailto:2457569580@qq.com">kindboy</a></span>
                <span class="au02" th:text="${blog.udate}"></span><span class="au03">
                浏览次数 : <b th:text="${blog.count}"></b></span>
            </div>
            <div class="tags">
                <a href="javascript:;">个人博客</a>
                <a href="javascript:;" th:text="${blog.tag}"></a>
                <a th:if="${session.user.username == blog.author}" href="javascript:;"
                   style="float: right;margin-right: 10px;" id="delBlog">删除</a>
                <a th:if="${session.user.username == blog.author}" th:href="${path+'/blogs/update/'+blog.id}"
                   style="float: right;margin-right: 10px;">编辑</a>
            </div>
            <div class="news_about"><strong>简介</strong>[[${blog.summary}]]</div>
            <div class="news_infos" id="read-editormd" style="padding:10px;height: 1000px;">
                <textarea></textarea>
            </div>
        </div>
        <div class="share"></div>
        <div class="comment-box">
            <div class="user-img">
                <a href="javascript:;">
                    <img th:src="${'/blog/'+session.user.imageUri}" class="small-image"/>
                </a>
            </div>
            <textarea placeholder="想对作者说点什么"></textarea>
            <div class="opt">
                <div class="right-box">
                    <span class="tip">只能输入1000个字符 </span>
                    <button id="comment"
                            style="width: 74px !important;height: 30px !important;font-size: 14px;margin-right: 12px">
                        发表评论
                    </button>
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <div class="news_pl">
            <h2>文章评论</h2>
            <div class="comment-list-box">
                <ul class="comment-list">
                </ul>
            </div>
        </div>

        <div class="otherlink">
            <h2>相关文章</h2>
            <ul>
            </ul>
        </div>
    </div>
    <div class="sidebar">
        <div class="cloud" th:replace="html/sidebar.html::cloud"></div>
        <div class="paihang" th:replace="html/sidebar.html::clickrank"></div>
        <div class="weixin" th:replace="html/sidebar.html::weixin"></div>
    </div>
</article>
<footer th:replace="html/foot.html::foot"></footer>
<script th:src="${path+'/js/nav.js'}"></script>
<script>
    $(function () {
        $("#comment").on('click', function () {
            var comment = $(".comment-box textarea").val();
            $(".comment-box textarea").val("");
            if (comment) {
                $.ajax({
                    url: '/blog/comment/save',
                    type: 'post',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        content: comment,
                        blogId: '[[${blog.id}]]'
                    }), success(comment) {
                        generateCommentLi(comment);
                    }
                });
            }
        })
    });

    function generateCommentLi(comment) {
        var $li = $('<li class="comment-line">');
        var $div = $('<div style="display: inline-block" class="left-box">');
        var $a = $('<a href="javascript:;"></a>');
        var $img = $('<img class="small-image"/>');
        $img.prop('src', '/blog/' + comment.image);
        var $div2 = $('<div class="info-box left-box">');
        var $a2 = $('<a href="javascript:;">');
        var $span1 = $('<span class="name" ></span>');
        $span1.text(comment.username + ":");
        var $span2 = $('<span class="comment"></span>');
        var $div3 = $('<div class="right-box"></div>');
        var $span3 = $('<span class="date"></span>');
        $span3.text(comment.cdate);
        var uname = "[[${session.user.username}]]";
        var $span4 = $('<span class="opt-box"></span>');
        var $a1 = $("<a class='del' href='javascript:;' >删除</a>");
        $a1.attr("commentid", comment.id);
        if (uname == comment.username)
            $span4.append($a1);
        $div3.append($span3);
        $div3.append($span4);
        $span2.text(comment.content);
        $li.append($div);
        $div.append($a);
        $a.append($img);
        $li.append($div2);
        $div2.append($a2);
        $a2.append($span1);
        $div2.append($span2);
        $div2.append("<br/>");
        $div2.append("<br/>");
        $li.append($div3);
        var $ul = $("ul.comment-list");
        $ul.prepend($li);
    }

    $(function () {
        //初始加载评论
        $.ajax({
            url: '/blog/comment/list',
            data: {
                "blogId": '[[${blog.id}]]'
            },
            method: 'get',
            success: function (comments) {
                $.each(comments, function (index, comment) {
                    generateCommentLi(comment);
                })
            }
        })
    });
    $(function () {
        $(document).delegate(".del", "click", function () {
            var commentId = $(this).attr("commentid");
            var $this = $(this);
            $.ajax({
                url: '/blog/comment/remove/' + commentId,
                method: 'delete',
                success: function () {
                    $this.parents(".comment-line").remove();
                }
            });

        });
    });
    //删除blog
    $(function () {
        $("#delBlog").on('click', function () {
            var bool = confirm("确定删除?");
            if (bool) {
                    window.location.href='[[${path}]]/blogs/delete/[[${blog.id}]]';
             }
        })
    });
</script>
</body>
</html>
