<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="html/head::head"></head>
<body>
<header th:replace="html/header.html::header"></header>
<article>
    <input type="hidden" th:value="${blogId}" id="blog-id">
    <input type="hidden" th:value="${session.user.username}" id="username">
    <input type="hidden" th:value="${path}" id="path">
    <input type="hidden" th:value="${author}" id="author">
    <h1 class="t_nav">
        <span id="title"></span>
        <a th:href="${path+'/'}" class="n1">网站首页</a>
        <a href="javascript:;" class="n2">个人博客</a>
    </h1>
    <script>
        <!--更新博客浏览量-->
        $(function () {
            $.ajax({
                url: '/blog/blogs/count/' + $("#blog-id").val() ,
                method: 'post'
            })
        });
        //mkdown插件
        $(function () {
            $.ajax({
                url:'[[${path}]]/blogs/[[${author}]]/article/get/[[${blogId}]]',
                method:'get',
                success:function (blog) {
                    var str=blog.content;
                    $("#title").text("您现在的位置是：首页 > 文章 > "+blog.title);
                    $("#tag").val(blog.tag);
                    $("#a-tag").text(blog.tag);
                    $(".news_title").val(blog.title);
                    $(".news_about").html("<strong>简介</strong>"+blog.summary);
                    $(".au02").text(blog.udate);
                    $("#b-count").text(blog.count);
                    var testEditor= editormd.markdownToHTML("read-editormd", {
                        path: '[[${path}]]/editor.md-master/lib/',
                        markdown: str,
                        htmlDecode: "style,script,iframe",  // you can filter tags decode
                        emoji: true,
                        taskList: true,
                        tex: true,
                        sequenceDiagram: true,
                        imageUpload: true,
                        imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                        // imageUploadURL : "../src/",//注意你后端的上传图片服务地址

                        //editorTheme: "pastel-on-dark",//编辑器的主题颜色
                        theme: "gray",//顶部的主题
                        previewTheme: "dark"//显示的主题
                    });
                }
            });
        });
        //相关文章
        $(function () {
            $.ajax({
                url: '/blog/blogs/tag?tag=' + $("#a-tag").text(),
                method: 'get',
                success: function (data) {
                    var blogs = data.params.blogs;
                    var $ul = $(".otherlink ul");
                    $.each(blogs, function (index, blog) {
                        var $li = $("<li></li>");
                        var $a = $("<a></a>");
                        $a.prop('href', '/blog/blogs/article/' + blog.id);
                        $a.prop('title', blog.title);
                        $a.text(blog.title + "----" + blog.udate);
                        $li.append($a);
                        $ul.append($li);
                    })
                }
            })
        })
    </script>
    <div class="infos">
        <div class="newsview">
            <h3 class="news_title"></h3>
            <div class="news_author">
                <span class="au01"><a href="mailto:2457569580@qq.com">kindboy</a></span>
                <span class="au02" ></span><span class="au03">
                浏览次数 : <b  id="b-count"></b></span>
            </div>
            <div class="tags">
                <a href="javascript:;">个人博客</a>
                <a href="javascript:;" id="a-tag"></a>
                <a th:if="${session.user.username == author}" href="javascript:;"
                   style="float: right;margin-right: 10px;" id="delBlog">删除</a>
                <a th:if="${session.user.username == author}" th:href="${path+'/blogs/'+author+'/update/'+blogId}"
                   style="float: right;margin-right: 10px;">编辑</a>
            </div>
            <div class="news_about"><strong>简介</strong></div>
            <div class="news_infos" id="read-editormd" style="padding:10px;height: 1000px;">
                <textarea></textarea>
            </div>
        </div>
        <div class="share"></div>
        <div class="comment-box">
            <div class="user-img">
                <a href="javascript:;">
                    <img th:src="${'/blog/'+session.user.imageUri}" class="small-image"/>
                </a>
            </div>
            <textarea placeholder="想对作者说点什么"></textarea>
            <div class="opt">
                <div class="right-box">
                    <span class="tip">只能输入1000个字符 </span>
                    <button id="comment"
                            style="width: 74px !important;height: 30px !important;font-size: 14px;margin-right: 12px">
                        发表评论
                    </button>
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <div class="news_pl">
            <h2>文章评论</h2>
            <div class="comment-list-box">
                <ul class="comment-list">
                </ul>
            </div>
        </div>

        <div class="otherlink">
            <h2>相关文章</h2>
            <ul>
            </ul>
        </div>
    </div>
    <div class="sidebar">
        <div class="about-author" th:replace="html/sidebar.html::about-author" ></div>
        <div class="paihang" th:replace="html/sidebar.html::clickrank"></div>
        <div class="weixin" th:replace="html/sidebar.html::weixin"></div>
    </div>
</article>
<footer th:replace="html/foot.html::foot"></footer>
<script th:src="${path+'/js/nav.js'}"></script>
</body>
</html>
