<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="html/head.html::head"></head>
<body>
<header th:replace="html/header.html::header"></header>
<article>
    <h1 class="t_nav"><span th:text="${session.user.motto}"></span><a href="/blog" class="n1">网站首页</a><a href="/blog/blogs/new" class="n2">新建博客</a>
    </h1>
    <div class="leftbox">
        <h3 class="news_title">
            <input type="text" class="input_text"
                   style="width: 100%;height: 50px;margin-bottom: 20px"
                   id="title" placeholder="请输入标题"></h3>
        <div id="layout" class="editor">
            <div class="news_infos" id="editor-md"
                 style="padding:10px;height: 1000px;margin:20px;z-index: 10000">
                <textarea></textarea>
            </div>
        </div>
        <textarea id="summary" class="layui-textarea" style="padding:10px;width: 760px;margin:20px;"
                  placeholder="请输入摘要,未填写则和标题相同"></textarea>
        <div class="add-tag">
            <label style="margin:0px 20px;float: left">文章标签:</label>
            <input type="text" class="input_text" id="tag" placeholder="请输入标签,未填写和文章标题相同"/>
        </div>
        <br/>
        <br/>
        <div class="tags">
            <a href="javascript:;" style="margin-left: 40%;" id="save">发布博客</a>
        </div>
    </div>
    <div class="rightbox">
        <div class="about" th:replace="html/sidebar::about"></div>
        <div class="weixin" th:replace="html/sidebar.html::weixin"></div>
    </div>
</article>
<footer th:replace="html/foot.html::foot"></footer>
<script>
    //markdown插件
    $(function () {
        var str = $("#blog-content").val();
        //testEditor.getMarkdown()获取文档
        window.testEditor = editormd("editor-md", {
            width: "90%",
            height: '740px',
            path: '[[${path}]]/editor.md-master/lib/',
            markdown: str,
            theme: "dark",
            previewTheme: "dark",
            editorTheme: "pastel-on-dark",
            // codeFold: true,
            //syncScrolling : false,
            saveHTMLToTextarea: true,    // 保存 HTML 到 Textarea
            searchReplace: true,
            //watch : false,                // 关闭实时预览
            //  htmlDecode: "style,script,iframe|on*",            // 开启 HTML 标签解析，为了安全性，默认不开启
            //   toolbar  : false,             //关闭工具栏
            //previewCodeHighlight : false, // 关闭预览 HTML 的代码块高亮，默认开启
            emoji: false,
            taskList: false,
            tocm: false,         // Using [TOCM]
            tex: false,                   // 开启科学公式TeX语言支持，默认关闭
            flowChart: false,             // 开启流程图支持，默认关闭
            toolbarAutoFixed: true,
            sequenceDiagram: true,       // 开启时序/序列图支持，默认关闭,
            dialogLockScreen: true,   // 设置弹出层对话框不锁屏，全局通用，默认为true
            dialogShowMask: true,     // 设置弹出层对话框显示透明遮罩层，全局通用，默认为true
            dialogDraggable: true,    // 设置弹出层对话框不可拖动，全局通用，默认为true
            dialogMaskOpacity: 0.5,    // 设置透明遮罩层的透明度，全局通用，默认值为0.1
            dialogMaskBgColor: "#000", // 设置透明遮罩层的背景颜色，全局通用，默认为#fff
            imageUpload: true,
            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL: "/blog/file/upload",
            onload: function () {
                console.log('onload', this);
            }
        });
    });
    //博客保存
    $(function () {
        $("#save").on('click', function () {
            layui.use(['layer'], function () {
                var title = $("#title").val();
                var content = testEditor.getMarkdown();
                var summary = $("#summary").val();
                var tag = $("#tag").val();
                if (!title) {
                    layer.tips("请输入标题", "#save");
                    return;
                }
                if (!content) {
                    layer.tips("请输入内容", "#save");
                    return;
                }
                if (!summary) {
                    summary = title;
                }
                if (!tag) {
                    tag = title;
                }
                $.ajax({
                    url: '/blog/blogs/[[${session.user.username}]]/new',
                    method: 'post',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        "title": title,
                        "content": content,
                        "summary": summary,
                        "tag": tag
                    }),
                    success: function (id) {
                        window.location.href="/blog/blogs/[[${session.user.username}]]/article/"+id;
                    }
                })
            })

        })
    })
</script>
</body>
</html>
