<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="html/head::head"></head>
<body>
<header th:replace="html/header.html::header"></header>
<div class="picshow">
    <ul>
        <li><a href='javascript:;'><i><img src="images/姜维.jpg"></i>
            <div class="font">
                <h3>文能提笔安天下,武能上马定乾坤</h3>
            </div>
        </a></li>
        <li><a href='javascript:;'><i><img src="images/子龙.jpg"></i>
            <div class="font">
                <h3>一点寒芒先到,随后枪出如龙</h3>
            </div>
        </a></li>
        <li><a href='javascript:;'><i><img src="images/孔明.jpg"></i>
            <div class="font">
                <h3>观今夜之天像,知天下之大事</h3>
            </div>
        </a></li>
        <li><a href='javascript:;'><i><img src="images/曹植.jpg"></i>
            <div class="font">
                <h3>捐躯赴国难,视死忽如归</h3>
            </div>
        </a></li>
        <li><a href='javascript:;'><i><img src="images/刘备.jpg"></i>
            <div class="font">
                <h3>蜀道之难，难于上青天</h3>
            </div>
        </a></li>
    </ul>

</div>
<article>
    <div class="blogs">
        <script>
            $(function () {
                if (!window.pageConf) {
                    window.pageConf = {};
                    pageConf.pageSize = 10;
                    pageConf.currentPage = 1;
                }
                getBlog();
            })
        </script>
        <div id="blog"></div>
        <div id="pg" style="margin-left: 28%;"></div>
    </div>
    <div class="sidebar">
        <div class="about" th:replace="html/sidebar::about"></div>
        <div class="search" th:replace="html/sidebar::search"></div>
        <div class="cloud" th:replace="html/sidebar::cloud"></div>
        <div class="paihang" th:replace="html/sidebar::clickrank"></div>
    </div>
</article>
<div class="blank"></div>
<footer th:replace="html/foot::foot"></footer>
<script th:src="${path+'/js/nav.js'}"></script>
</body>
</html>
