<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="html/head::head"></head>
<body>
<header th:replace="html/header.html::header"></header>
<article>
    <input type="hidden" th:value="${blog.content}" id="blog-content"/>
    <h1 class="t_nav">
        <span>您现在的位置是：首页 > 文章 > [[${blog.title}]]</span>
        <a th:href="${path+'/'}" class="n1">网站首页</a>
        <a href="javascript:;" class="n2">更新博客</a>
    </h1>
    <div class="infos">
        <div class="newsview">
            <h3 class="news_title"><input type="text" th:value="${blog.title}" class="input_text"
                                          style="width: 100%;height: 50px;margin-bottom: 20px"
                                          id="title"></h3>
            <br/>
            <div class="news_author">
                <span class="au01"><a href="mailto:2457569580@qq.com">kindboy</a></span>
                <span class="au02" th:text="${blog.udate}"></span><span class="au03">
                浏览次数 : <b th:text="${blog.count}"></b></span>
            </div>
            <div class="tags">
                <a href="javascript:;">个人博客</a>
                <a href="javascript:;" th:text="${blog.tag.tag}"></a>
                <a href="javascript:;" style="float: right;margin-right: 40px;" id="save">保存</a>
            </div>
            <textarea id="summary" class="layui-textarea" th:text="${blog.summary}" style="width: 100%;margin:0px 0px;"
                      placeholder="请输入摘要,未填写则和标题相同"></textarea>
            <br/>
            <div id="layout" class="editor">
                <div class="news_infos" id="editor-md" style="padding:10px;height: 1000px;z-index: 10000">
                    <textarea></textarea>
                </div>
            </div>
        </div>
        <div class="share"></div>
        <div class="news_pl">
            <h2>文章评论</h2>
            <ul>
                <div class="gbko"></div>
            </ul>
        </div>
        <div class="otherlink">
            <h2>相关文章</h2>
            <ul>
            </ul>
        </div>
    </div>
    <div class="sidebar">
        <div class="about" th:replace="html/sidebar.html::about"></div>
        <div class="paihang" th:replace="html/sidebar.html::clickrank"></div>
        <div class="weixin" th:replace="html/sidebar.html::weixin"></div>
    </div>
</article>
<footer th:replace="html/foot.html::foot"></footer>
<script th:src="${path+'/js/nav.js'}"></script>
<script>
    <!--计数增加-->
    $(function () {
        $.ajax({
            url: '/blog/blogs/count/[[${blog.id}]]?count=[[${blog.count}]]',
            method: 'post'
        })
    });
    //markdown插件
    $(function () {
        var testEditor;
        var str = $("#blog-content").val();
        //testEditor.getMarkdown()获取文档
        window.testEditor = editormd("editor-md", {
            width: "90%",
            height: '740px',
            path: '[[${path}]]/editor.md-master/lib/',
            markdown: str,
            theme: "dark",
            previewTheme: "dark",
            editorTheme: "pastel-on-dark",
            // codeFold: true,
            //syncScrolling : false,
            saveHTMLToTextarea: true,    // 保存 HTML 到 Textarea
            searchReplace: true,
            //watch : false,                // 关闭实时预览
            //  htmlDecode: "style,script,iframe|on*",            // 开启 HTML 标签解析，为了安全性，默认不开启
            //   toolbar  : false,             //关闭工具栏
            //previewCodeHighlight : false, // 关闭预览 HTML 的代码块高亮，默认开启
            emoji: false,
            taskList: false,
            tocm: false,         // Using [TOCM]
            tex: false,                   // 开启科学公式TeX语言支持，默认关闭
            flowChart: false,             // 开启流程图支持，默认关闭
            toolbarAutoFixed: false,
            sequenceDiagram: false,       // 开启时序/序列图支持，默认关闭,
            dialogLockScreen: false,   // 设置弹出层对话框不锁屏，全局通用，默认为true
            dialogShowMask: false,     // 设置弹出层对话框显示透明遮罩层，全局通用，默认为true
            dialogDraggable: false,    // 设置弹出层对话框不可拖动，全局通用，默认为true
            dialogMaskOpacity: 0.5,    // 设置透明遮罩层的透明度，全局通用，默认值为0.1
            dialogMaskBgColor: "#000", // 设置透明遮罩层的背景颜色，全局通用，默认为#fff
            imageUpload: true,
            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL: "/blog/file/upload",
            onload: function () {
                console.log('onload', this);
                //this.fullscreen();
                //this.unwatch();
                //this.watch().fullscreen();

                //this.setMarkdown("#PHP");
                //this.width("100%");
                //this.height(480);
                //this.resize("100%", 640);
            }
        });
    });
    //相关链接
    $(function () {
        $.ajax({
            url: "/blog/blogs/tag?tag=[[${blog.tag}]]",
            method: 'get',
            success: function (data) {
                var blogs = data[1];
                var $ul = $(".otherlink ul");
                $.each(blogs, function (index, blog) {
                    var $li = $("<li></li>");
                    var $a = $("<a></a>");
                    $a.prop('href', '/blog/blogs/article/' + blog.id);
                    $a.prop('title', blog.title);
                    $a.text(blog.title + "----" + blog.udate);
                    $li.append($a);
                    $ul.append($li);
                })
            }
        })
    });
    //保存文件
    $(function () {
        $("#save").on('click', function () {
            var text = testEditor.getMarkdown();
            var url='/blog/blogs/[[${blog.author.author}]]/save/[[${blog.id}]]';
            $.ajax({
                url: url,
                method: 'post',
                data: {
                    content: text
                },
                success: function () {
                    window.location.href = '/blog/blogs/[[${blog.author.author}]]/article/[[${blog.id}]]';
                }
            })
        })
    });
    $(function () {
        //修改标题
        $("#title").on('change', function () {
            var str = $("#title").val();
            $.post('/blog/blogs/[[${blog.author.author}]]/save/[[${blog.id}]]?title=' + str);
        });
        //修改总结
        $("#summary").on('change', function () {
            var str = $("#summary").val();
            $.post("/blog/blogs/[[${blog.author.author}]]/save/[[${blog.id}]]?summary=" + str);
        });
    })
</script>
</body>
</html>
