<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
    <div class="tophead">
        <div class="logo"><a href="/">个人博客</a></div>
        <div id="mnav">
            <h2><span class="navicon"></span></h2>
            <ul>
                <li><a th:href="${path+'/'}">网站首页</a></li>
                <li><a th:href="${path+'/about.html'}">关于作者</a></li>
                <li><a href="https://github.com/vicyor/blog">模板分享</a></li>
                <li><a th:href="${path+'/blogs/new'}" style="color: #1abc9c">新建博客</a></li>
                <li th:if="${!session.user.login}"><a th:href="${path +'/login'}" style="color: #1abc9c">登录</a></li>
                <li th:if="${!session.user.login}"><a th:href="${path+'/regeister'}" style="color: #1abc9c">注册</a></li>
                <li th:if="${session.user.login}"><a href="javascript:;"
                                                     th:text="${'欢迎回来  '+session.user.name}"
                                                     style="color: #1abc9c"></a></li>
                <li th:if="${session.user.login}"><a href="javascript:;" style="color: #1abc9c" class="lo">退出</a>
                </li>
            </ul>
        </div>
        <nav class="topnav" id="topnav">
            <ul>
                <li><a th:href="${path+'/'}">网站首页</a></li>
                <li><a th:href="${path+'/about.html'}">关于作者</a></li>
                <li><a href="https://github.com/vicyor/blog">模板分享</a></li>
                <li><a th:href="${path+'/blogs/new'}" style="color: #1abc9c">新建博客</a></li>
                <li th:if="${!session.user.login}"><a th:href="${path +'/login'}" style="color: #1abc9c">登录</a></li>
                <li th:if="${!session.user.login}"><a th:href="${path+'/regeister'}" style="color: #1abc9c">注册</a></li>
                <li th:if="${session.user.login}"><a href="javascript:;"
                                                     th:text="${'欢迎回来  '+session.user.name}"
                                                     style="color: #1abc9c"></a></li>
                <li th:if="${session.user.login}"><a href="javascript:;" style="color: #1abc9c" class="lo">退出</a>
                </li>
            </ul>
        </nav>

    </div>
</header>
</html>