<html xmlns:th="http://www.thymeleaf.org">
<div class="sidebar">
    <div class="about" th:fragment="about">
        <div class="avatar"><img th:src="${path+'/'+session.user.imageUri}" alt="我的头像"></div>
        <p class="abname">
            <span th:text="${session.user.username}"></span> |
            <span th:text="${session.user.name}"></span>
        </p>
        <p class="abposition"><span th:text="${session.user.job}"></span></p>
        <div class="abtext"><span th:text="${session.user.motto}"></span></div>
    </div>
    <div class="about-author" th:fragment="about-author">
        <div class="avatar"><img th:src="${path+'/'+blogAuthor.imageUri}" alt="作者头像"></div>
        <p class="abname">
            <span th:text="${blogAuthor.username}"></span> |
            <span th:text="${blogAuthor.name}"></span>
        </p>
        <p class="abposition"><span th:text="${blogAuthor.job}"></span></p>
        <div class="abtext"><span th:text="${blogAuthor.motto}"></span></div>
    </div>
    <div class="search" th:fragment="search">
        <form action="javacript:;" method="post" name="searchform" id="searchform">
            <input name="keyboard" id="keyboard" class="input_text" placeholder="请输入关键字"
                   style="color: rgb(153, 153, 153);"
                   onfocus="if(value=='请输入关键字'){this.style.color='#000';value=''}"
                   onblur="if(value==''){this.style.color='#999';value='请输入关键字'}" type="text">
            <input name="show" value="title" type="hidden">
            <input name="tempid" value="1" type="hidden">
            <input name="tbname" value="news" type="hidden">
            <input name="Submit" class="input_submit" value="搜索" type="submit">
        </form>
    </div>
    <div class="cloud" th:fragment="cloud">
        <h2 class="hometitle">标签云</h2>
        <ul id="cloud">
            <a href="javascript:;">java</a>
            <a href="javascript:;">spring cloud</a>
            <a href="javascript:;">spring boot</a>
            <a href="javascript:;">mysql</a>
            <a href="javascript:;">redis</a>
            <a href="javascript:;">rabbitmq</a>
            <a href="javascript:;">elastic search</a>
            <a href="javascript:;">spring</a>
            <a href="javascript:;">activiti</a>
            <a href="javascript:;">spring mvc</a>
            <a href="javascript:;">mybatis</a>
            <a href="javascript:;">nginx</a>
            <a href="javascript:;">linux</a>
            <a href="javascript:;">计算机网路通信</a>
        </ul>
    </div>
    <div class="paihang" id="clickrank" th:fragment="clickrank">
        <script>

        </script>
        <h2 class="hometitle">点击排行</h2>
        <ul>
        </ul>
    </div>
    <div class="paihang" th:fragment="authorrank">
    </div>
    <div class="links" th:fragment="links">
        <h2 class="hometitle">友情链接</h2>
        <ul>
            <li><a href="http://www.yangqq.com" title="杨青个人博客">杨青个人博客</a></li>
            <li><a href="http://www.yangqq.com" title="杨青个人博客">杨青个人博客</a></li>
            <li><a href="http://www.yangqq.com" title="杨青个人博客">杨青个人博客</a></li>
        </ul>
    </div>
    <div class="weixin" th:fragment="weixin">
        <h2 class="hometitle">官方微信</h2>
        <ul>
            <img src="/blog/images/weixin.jpg">
        </ul>
    </div>
    <div class="lmnav" th:fragment="lmnav">
        <h2 class="hometitle">栏目导航</h2>
        <ul class="navbor">
            <li><a href="#">关于我</a></li>
            <li><a href="share.html">模板分享</a>
                <ul>
                    <li><a href="list.html">个人博客模板</a></li>
                    <li><a href="#">HTML5模板</a></li>
                </ul>
            </li>
            <li><a href="list.html">学无止境</a>
                <ul>
                    <li><a href="list.html">学习笔记</a></li>
                    <li><a href="#">HTML5+CSS3</a></li>
                    <li><a href="#">网站建设</a></li>
                </ul>
            </li>
            <li><a href="#">慢生活</a></li>
        </ul>
    </div>
</div>
</html>