<html xmlns:th="http://www.thymeleaf.org">
<div class="sidebar">
    <div class="about" th:fragment="about">
        <div class="avatar"><img th:src="${path+session.user.imageUri}" alt="我的头像"></div>
        <p class="abname">
            <span th:text="${session.user.username}"></span> |
            <span th:text="${session.user.name}"></span>
        </p>
        <p class="abposition"><span th:text="${session.user.job}"></span></p>
        <div class="abtext"><span th:text="${session.user.motto}"></span></div>
    </div>
    <div class="search" th:fragment="search">
        <form action="javacript:;" method="post" name="searchform" id="searchform">
            <input name="keyboard" id="keyboard" class="input_text" placeholder="请输入关键字"
                   style="color: rgb(153, 153, 153);"
                   onfocus="if(value=='请输入关键字'){this.style.color='#000';value=''}"
                   onblur="if(value==''){this.style.color='#999';value='请输入关键字'}" type="text">
            <input name="show" value="title" type="hidden">
            <input name="tempid" value="1" type="hidden">
            <input name="tbname" value="news" type="hidden">
            <input name="Submit" class="input_submit" value="搜索" type="submit">
        </form>
        <script>
            $(function () {
                if (!window.pageConf) {
                    window.pageConf = {};
                    pageConf.pageSize = 10;
                    pageConf.currentPage = 1;
                }
            })
        </script>
        <script>
            $(function () {
                $("input[name='Submit']").on('click', function () {
                    pageConf.pageSize = 10;
                    pageConf.currentPage = 1;
                    getBlog();
                })
            })
        </script>
    </div>
    <div class="cloud" th:fragment="cloud">
        <script>
            $(function () {
                initAClickEvent();
            })
        </script>
        <h2 class="hometitle">标签云</h2>
        <ul id="cloud">
            <a href="javascript:;">java</a>
            <a href="javascript:;">spring cloud</a>
            <a href="javascript:;">spring boot</a>
            <a href="javascript:;">mysql</a>
            <a href="javascript:;">redis</a>
            <a href="javascript:;">rabbitmq</a>
            <a href="javascript:;">elastic search</a>
            <a href="javascript:;">spring</a>
            <a href="javascript:;">activiti</a>
            <a href="javascript:;">spring mvc</a>
            <a href="javascript:;">mybatis</a>
            <a href="javascript:;">nginx</a>
            <a href="javascript:;">李白</a>
        </ul>
    </div>
    <div class="paihang" id="clickrank" th:fragment="clickrank">
        <script>
            /**
             * 获取点击排行
             */
            $(function () {

                $.ajax({
                    url: "/blog/blogs/rank/count",
                    method: 'get',
                    success: function (blogs) {
                        parseCountRank(blogs);
                    }
                })
            })
        </script>
        <h2 class="hometitle">点击排行</h2>
        <ul>
        </ul>
    </div>
    <div class="paihang" th:fragment="authorrank">
        <h2 class="hometitle">站长推荐</h2>
        <ul>
            <li><b><a href="/download/div/2015-04-10/746.html" target="_blank">【活动作品】柠檬绿兔小白个人博客模板30...</a></b>
                <p><i><img src="images/t02.jpg"></i>展示的是首页html，博客页面布局格式简单，没有复杂的背景，色彩局部点缀，动态的幻灯片展示，切换卡，标...</p>
            </li>
            <li><b><a href="/download/div/2014-02-19/649.html" target="_blank"> 个人博客模板（2014草根寻梦）30...</a></b>
                <p><i><img src="images/b03.jpg"></i>2014第一版《草根寻梦》个人博客模板简单、优雅、稳重、大气、低调。专为年轻有志向却又低调的草根站长设...</p>
            </li>
            <li><b><a href="/download/div/2013-08-08/571.html" target="_blank">黑色质感时间轴html5个人博客模板30...</a></b>
                <p><i><img src="images/b04.jpg"></i>黑色时间轴html5个人博客模板颜色以黑色为主色，添加了彩色作为网页的一个亮点，导航高亮显示、banner图片...</p>
            </li>
            <li><b><a href="/download/div/2014-09-18/730.html" target="_blank">情侣博客模板系列之《回忆》Html30...</a></b>
                <p><i><img src="images/b05.jpg"></i>Html5+css3情侣博客模板，主题《回忆》，使用css3技术实现网站动画效果，主题《回忆》,分为四个主要部分，...</p>
            </li>
            <li><b><a href="/download/div/2014-04-17/661.html" target="_blank">黑色Html5个人博客模板主题《如影随形》30...</a></b>
                <p><i><img src="images/b06.jpg"></i>014第二版黑色Html5个人博客模板主题《如影随形》，如精灵般的影子会给人一种神秘的感觉。一张剪影图黑白...</p>
            </li>
            <li><b><a href="/jstt/bj/2015-01-09/740.html" target="_blank">【匆匆那些年】总结个人博客经历的这四年…30...</a></b>
                <p><i><img src="images/mb02.jpg"></i>博客从最初的域名购买，到上线已经有四年的时间了，这四年的时间，有笑过，有怨过，有悔过，有执着过，也...</p>
            </li>
        </ul>
    </div>
    <div class="links" th:fragment="links">
        <h2 class="hometitle">友情链接</h2>
        <ul>
            <li><a href="http://www.yangqq.com" title="杨青个人博客">杨青个人博客</a></li>
            <li><a href="http://www.yangqq.com" title="杨青个人博客">杨青个人博客</a></li>
            <li><a href="http://www.yangqq.com" title="杨青个人博客">杨青个人博客</a></li>
        </ul>
    </div>
    <div class="weixin" th:fragment="weixin">
        <h2 class="hometitle">官方微信</h2>
        <ul>
            <img src="/blog/images/weixin.jpg">
        </ul>
    </div>
    <div class="lmnav" th:fragment="lmnav">
        <h2 class="hometitle">栏目导航</h2>
        <ul class="navbor">
            <li><a href="#">关于我</a></li>
            <li><a href="share.html">模板分享</a>
                <ul>
                    <li><a href="list.html">个人博客模板</a></li>
                    <li><a href="#">HTML5模板</a></li>
                </ul>
            </li>
            <li><a href="list.html">学无止境</a>
                <ul>
                    <li><a href="list.html">学习笔记</a></li>
                    <li><a href="#">HTML5+CSS3</a></li>
                    <li><a href="#">网站建设</a></li>
                </ul>
            </li>
            <li><a href="#">慢生活</a></li>
        </ul>
    </div>
</div>
</html>